---
---

@charset "utf-8";

$asset_url: '{{ '/assets' | absolute_url }}';

body {
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

@import 
  "reset",
  "variables",
  "syntax-highlighting",
  "mixins",
  "font",
  "base",
  "masthead",
  "menu",
  "post-list",
  "article",
  "footnotes",
  "search"
;
